<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiários</title>
    <link rel="stylesheet" href="mapaBenefs.css">
</head>
<body>
    <div class="container">
        <h1>Mapa de Beneficiários</h1>
        <iframe 
            src="https://charts.mongodb.com/charts-project-0-afoowgj/embed/charts?id=bfc0bdbf-4ec1-4669-934b-139c3a3751d1&maxDataAge=14400&theme=light&autoRefresh=true"
            frameborder="0"
            class="mapa-iframe">
        </iframe>

        <button id="btnVoltar" onclick="location.href='index.html'">Voltar</button>
    </div>
</body>
</html>
