<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiarios</title>
    <link rel="stylesheet" href="mapaBenefs.css">
</head>
<body>
    <iframe src="https://charts.mongodb.com/charts-project-0-afoowgj/embed/charts?id=bfc0bdbf-4ec1-4669-934b-139c3a3751d1&maxDataAge=14400&theme=light&autoRefresh=true"></iframe>
    <div>
        <button id="btnVoltar"><a href="index.html">voltar</a></button>
    </div>
</html>